<div class="container-fluid">

    <div class="container">
        <div class="row py-5">
            <div class="col-sm-6">
                <ul class="list-inline">
                    <li>
                        <h3>Add Recruiters</h3>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <!-- <div class="ml">
                    <ul class="list-inline">
                        <li class="list-inline-item"><button class="btn btn-dark px-5 btn_border_radius">UPLOAD EXCEL
                            FILE
                        </button>
                    </li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="card p-5" >
            <h5 class="pb-2">Company Logo</h5>

            <div class="row">
                <div class="col-sm-2">
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:16vh;padding-top:7vh">
                            <label _ngcontent-ovp-c17="" for="files"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Upload</label>
                            <input type="file" class="form-control" id="files" hidden>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row pt-5">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="company_name">Company Name</label>
                        <input type="text" placeholder="Company Domain" id="company_name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="company_domain">Company Domain</label>
                            <input type="text" placeholder="Company Domain" id="company_domain" class="form-control">
                        </div>
                    </div>
                </div>

            

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="company_domain">Company Location</label>
                        <select class="form-control" id="company_location">
                            <option>Select Location</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class=" footer bg-secondary mt-5">
        <div class="container-fluid bg-secondary">
            <div class="row py-3 px-5">
                <button class="btn btn-dark ml-auto px-5" style="border-radius:30px;">Submit</button>
            </div>
        </div>
    </div>

</div>