<div class="container">
    <section class="content-header">
        <!-- <div class="container-fluid"> -->
        <div class="row mb-2">

            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <h5>Personal Information</h5>
                    </li>
                    <!-- <li class="breadcrumb-item active">Add</li> -->
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="ml">
                    <ul class="list-inline">
                        <li class="list-inline-item"><button class="btn btn-outline-dark px-5 btn_border_radius">Reject
                            </button>
                        </li>
                        <li class="list-inline-item"><button class="btn btn-dark px-5 btn_border_radius">Accept
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </section>


    <div style="min-height: 110vh">


        <div class="row">
            <div class="col-sm-2">
                <h5 class="pb-2">Image</h5>
                <div class="card" style="text-align: center;">
                    <div class="form-group" style="height:16vh;padding-top:7vh">
                        <label _ngcontent-ovp-c17="" for="files"
                            style="width:fit-content;background-color:transparent;letter-spacing:1px">
                            Image</label>
                        <input type="file" class="form-control" id="files" hidden>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" placeholder="First Name" id="first_name" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" placeholder="Last Name" id="last_name" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" placeholder="Title" id="title" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="business_email">Business Email</label>
                    <input type="text" placeholder="Business Email" id="business_email" class="form-control">
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="business_phone_number">Business Phone Number</label>
                    <input type="text" placeholder="Business Phone Number" id="business_phone_number"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-6">

            </div>
        </div>



        <div class="company_information">

            <h3 class="py-5">College Information</h3>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="college_name">College Name</label>
                        <input type="text" placeholder="College Name" id="college_name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address_line">Address Line</label>
                        <input type="text" placeholder="Address Line" id="address_line" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" placeholder="City" id="city" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" placeholder="State" id="state" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input type="text" placeholder="Zipcode" id="zipcode" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="url">Company Website URL</label>
                        <input type="text" placeholder="Company Website URL" id="url" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" placeholder="Designation" id="designation" class="form-control">
                    </div>
                </div>

            </div>

          



            <div class="row">
                <div class="col-sm-3">
                    <h5 class="pb-2">Upload Aadhar Card</h5>
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:16vh;padding-top:7vh">
                            <label _ngcontent-ovp-c17="" for="aadhar"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Image</label>
                            <input type="file" class="form-control" id="aadhar" hidden>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5 class="pb-2">Upload 10th</h5>
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:16vh;padding-top:7vh">
                            <label _ngcontent-ovp-c17="" for="10th"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Image</label>
                            <input type="file" class="form-control" id="10th" hidden>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5 class="pb-2">Upload 12th</h5>
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:16vh;padding-top:7vh">
                            <label _ngcontent-ovp-c17="" for="12th"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Image</label>
                            <input type="file" class="form-control" id="12th" hidden>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="aditional_information">Additional Information</label>
                        <textarea class="form-control" rows="5" id="aditional_information"
                            placeholder="Additional Information"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="admin_note">Admin Note</label>
                        <textarea rows="5" id="admin_note" class="form-control" placeholder="Admin Note"></textarea>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container-fluid bg-secondary">
        <div class="container-fluid bg-secondary">
            <div class="row py-3 px-5">
                <button class="btn btn-dark ml-auto px-5" style="border-radius:30px;">Submit</button>
            </div>
        </div>
    </div>

</div>