<div class="container">

    <div class="row py-5">

        <div class="col-sm-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h5>College > Help</h5>
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <div class="ml">
                <ul class="list-inline">
                    <li class="list-inline-item"><button class="btn btn-dark btn_border_radius">CREATE LOGIN</button>
                       
                    </li>
                    <li class="list-inline-item"><button class="btn btn-dark btn_border_radius">UPLOAD EXCEL
                            FILE</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="row pb-5">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-title">

                        <div class="mr-0 entries">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text entry">show</span>
                                </div>
                                <select class="form-control">
                                    <option>1-7</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text entry">entries</span>
                                </div>
                            </div>
                        </div>
                        <div class="ml-0 search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <span class="input-group-text"> <i class="fa fa-search"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Sr.No</th>

                                <th>User Name</th>
                                <th>Message</th>
                                <th>Image</th>
                                <th>Reply</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dooley_1234</td>
                                <td>HI,how are you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                <td>
                                    <div>
                                        <img class="image-size"
                                            src="https://cdn.vox-cdn.com/thumbor/tvOrffFivNYkcQa6TJqIspcdsmI=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/64010428/aliptak_190612_3457_8687.0.jpg">
        
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="click-here" data-toggle="modal" data-target="#myModal"> Click_Here</button>
                                 
                                </td>
                                <td>
                                    01/02/2020
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>Dooley_1234</td>
                                <td>HI,how are you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                <td>
                                    <div>
                                        <img class="image-size"
                                            src="https://cdn.vox-cdn.com/thumbor/tvOrffFivNYkcQa6TJqIspcdsmI=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/64010428/aliptak_190612_3457_8687.0.jpg">
        
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="click-here" data-toggle="modal" data-target="#myModal"> Click_Here</button>
                                 
                                </td>
                                <td>
                                    01/02/2020
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Dooley_1234</td>
                                <td>HI,how are you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                <td>
                                    <div>
                                        <img class="image-size"
                                            src="https://cdn.vox-cdn.com/thumbor/tvOrffFivNYkcQa6TJqIspcdsmI=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/64010428/aliptak_190612_3457_8687.0.jpg">
        
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="click-here" data-toggle="modal" data-target="#myModal"> Click_Here</button>
                                 
                                </td>
                                <td>
                                    01/02/2020
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    
                </div>
                <!-- /.card-body -->


 <div class="modal" id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Reply</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                <textarea class="form-control" rows="3" id="comment" placeholder="Type here"></textarea>
              </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" >Send</button>
        </div>
        
      </div>
    </div>
  </div>



            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


    <!-- /.content-wrapper -->






</div>



  