<div class="container">



    <div class="top_header">
        <label>Send Notification </label>
    </div>




    <!-- tabheade -->

    <div class="tab_header">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link active tab_fnt" data-toggle="tab" href="#notifications">Send Notification</a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#features">Features</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#guidelines">Guidelines</a>
            </li> -->


        </ul>
    </div>



    <!-- tabview -->


    <div class="tab-content">

        <!-- notifications start -->
        <div id="notifications" class="container tab-pane active"><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">


                        <div class="row">
                            <div class="title_txt">
                                <label class="">Title</label>
                            </div>

                            <div class="form-check chk_header">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio">User Name 
                                </label>
                            </div>
                            <div class="form-check chk_header">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio">School Name
                                </label>
                            </div>
                            <div class="form-check chk_header">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio" >College Name
                                </label>
                            </div>
                        </div>




                        <div class="select_optn row">


                            <div class="col-6">
                                <div class="txt_slt">

                                    <label class="txt_slt_header">User Name / School Name / College Name :</label>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="dropdown ">
                                    <button type="button" class="btn dropdown-toggle  btn_bg" data-toggle="dropdown">
                                         Select
                                        </button>
                                    <div class="dropdown-menu droupdown_bg ">
                                        <a class="dropdown-item "> School Name</a>
                                        <a class="dropdown-item "> College Name</a>
                                        <a class="dropdown-item "> User Name</a>
                                    </div>
                                </div>

                            </div>


                        </div>




                        <div class="title_txt_inpt">
                            <div class="form-group">
                                <input type="text" class="form-control title_txt_inpt1" placeholder="Type here ..." id="usr">
                            </div>
                        </div>



                        <div class="row">
                            <div class="title_txt1">
                                <label class="">Content</label>
                            </div>
                        </div>


                        <div class="col-12 form-group txt_input ">

                            <textarea type="text" rows="5" class="form-control " placeholder="Type here..." id="usr"></textarea>

                        </div>




                        <div class="title_txt2">

                            <div class="row">
                                <div class="title_txt1">
                                    <label class="">Image Upload</label>
                                </div>
                            </div>

                            <div class="row img_upload">
                                <div class="col-sm-2">
                                    <div class="card" style="text-align: center;">
                                        <div class="form-group" style="height:16vh;padding-top:7vh">
                                            <label _ngcontent-ovp-c17="" for="files" style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                    Upload Image </label>
                                            <input type="file" class="form-control" id="files" hidden>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div>

                            <div class="row">
                                <div class="sub_btn">

                                    <button class="btn btn-dark ml-auto px-5 submit ">Send Notification</button>
                                </div>

                            </div>



                        </div>





                    </div>

                </div>
            </section>
        </div>
        <!-- notifications end -->


    </div>






</div>