<div class="container">



    <div class="top_header">
        <label>Manage Static Content > Add </label>
    </div>




    <!-- tabheade -->

    <div class="tab_header">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link active tab_fnt" data-toggle="tab" href="#pending">About Us</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#accepted">Contact US</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#rejected">FAQ</a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#privacy_policy">Privacy Policy</a>
            </li>
        </ul>
    </div>



    <!-- tabview -->


    <div class="tab-content">

        <!-- about us -->
        <div id="pending" class="container tab-pane active"><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">



                        <!-- overview tab content -->
                        <div id="overview" class="container tab-pane active"><br>

                            <div style="min-height: 80vh;">
                                <ckeditor [data]="overviewData" [config]="{ height: [ [ '400' ] ] }"></ckeditor>
                            </div>

                            <div class="container-fluid bg-secondary">
                                <div class="row py-3 px-5">
                                    <button class="btn btn-dark ml-auto px-5"
                                        style="border-radius:30px;">Submit</button>
                                </div>
                            </div>

                        </div>
                        <!-- overview tab content -->

                    </div>

                </div>
            </section>
        </div>
        <!--  about us -->

        <!-- contact us-->
        <div id="accepted" class="container tab-pane fade"><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div id="overview" class="container tab-pane active"><br>
                            <label class="txt_fnt">Contact Information</label>



                            <div class="row bg">
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_type">Mobile Number *</label>
                                        <input class="txt_fnt1" type="text" class="form-control"
                                            placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_duration">Landline Number *</label>
                                        <input class="txt_fnt" type="text" class="form-control"
                                            placeholder="Landline Number">
                                    </div>
                                </div>
                            </div>


                            <div class="row bg">
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_type">Email ID *</label>
                                        <input class="txt_fnt" type="text" class="form-control" placeholder="Email ID">
                                    </div>
                                </div>
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_duration">Addres Line </label>
                                        <input class="txt_fnt" type="text" class="form-control"
                                            placeholder="Addres Line">
                                    </div>
                                </div>
                            </div>


                            <div class="row bg">
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_type">City </label>
                                        <input class="txt_fnt" type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_duration">Zipcode</label>
                                        <input class="txt_fnt" type="text" class="form-control" placeholder="Zipcode">
                                    </div>
                                </div>
                            </div>

                            <div class="row bg">
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_type">Website URL </label>
                                        <input class="txt_fnt" type="text" class="form-control"
                                            placeholder="Website URL">
                                    </div>
                                </div>
                                <div class="col-sm-6 py-2">
                                    <div class="form-group">
                                        <label class="txt_fnt" for="course_duration">State</label>
                                        <input class="txt_fnt" type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>
                            </div>




                            <div class="row bg">
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <label for="course_type">Google map Link</label>
                                        <input type="text" class="form-control" placeholder="Google map Link">
                                    </div>
                                </div>

                            </div>
                            <div class="btm_layer"></div>
                        </div>


                        <div class="container-fluid btm_header">


                            <div class="row py-3 px-5">
                                <div class="col-sm-3 "></div>
                                <div class="col-sm-3 "></div>
                                <div class="col-sm-3  ">
                                    <button class="btn px-5 back_btn">Back</button>

                                </div>

                                <div class="col-sm-3  ">
                                    <button class="btn btn-dark ml-auto px-5 submit ">Save</button>
                                </div>
                            </div>

                        </div>



                    </div>






                </div>
            </section>
        </div>
        <!-- contact us -->

        <!-- FAQ tab content -->
        <div id="rejected" class="container tab-pane fade "><br>
            <section class="content ">
                <div class="row ">
                    <div class="col-12 ">






                        <!-- tabheade -->

                        <div class="tab_header">
                            <ul class="nav nav-tabs">
                                <li class="nav-item ">
                                    <a class="nav-link active tab_fnt" data-toggle="tab" href="#students">For
                                        Student</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link tab_fnt" data-toggle="tab" href="#colleges">For Colleges</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link tab_fnt" data-toggle="tab" href="#school">For School</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link tab_fnt" data-toggle="tab" href="#vendors">For Vendors </a>
                                </li>
                            </ul>
                        </div>
                        <!-- tabview -->
                    </div>

                </div>




                <div class="tab-content">

                    <!-- student us -->
                    <div id="students" class="container tab-pane active"><br>
                        <section class="content">
                            <div class="school_bg">

                                <div class="row">
                                    <div class="col-12">


                                        <!-- overview tab content -->
                                        <div id="overview" class="container tab-pane active"><br>

                                            <div class="container-fluid ">

                                                <div class="row ">
                                                    <div class="card top_header_card">
                                                        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
                                                        <div class="card-body p-5">
                                                            <div class="row">
                                                                <label class="top_header_card_txt">How to Register
                                                                    Student ?</label>
                                                                <label class="top_header_txt">
                                                                    Lorem Ipsum is simply dummy text of the printing and
                                                                    typesetting industry. Lorem Ipsum has been the
                                                                    industry's standard dummy text ever since the 1500s,
                                                                    when an unknown printer took a galley of type and
                                                                    scrambled it to make a type specimen book. It has
                                                                    survived not only five centuries, but also the leap
                                                                    into electronic typesetting, remaining essentially
                                                                    unchanged. It was popularised in the 1960s with the
                                                                    release of Letraset sheets containing Lorem Ipsum
                                                                    passages, and more recently with desktop publishing
                                                                    software like Aldus PageMaker including versions of
                                                                    Lorem Ipsum
                                                                </label>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2 delete_icn1">
                                                                    <i class="fa fa-pencil-square-o "
                                                                        aria-hidden="true"></i>

                                                                    <i class="fa fa-trash delete_icn "
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>



                                                    <!-- Question -->
                                                    <div class="question_header row">
                                                        <div class="row">
                                                            <div class="col-12 form-group ">
                                                                <label class="qtxt">Question</label>
                                                            </div>



                                                        </div>

                                                    </div>

                                                    <div class="col-12 form-group ">

                                                        <input type="text" class="form-control txt_input"
                                                            placeholder="Type here..." id="usr">

                                                    </div>




                                                    <!-- Answer -->


                                                    <div class="question_header row">

                                                        <div>
                                                            <div class="row">
                                                                <div class="col-12 form-group ">
                                                                    <label class="qtxt">Answer</label>
                                                                </div>



                                                            </div>

                                                        </div>

                                                        <div class="col-12 form-group txt_input ">

                                                            <textarea type="text" rows="5" class="form-control "
                                                                placeholder="Type here..." id="usr"></textarea>

                                                        </div>


                                                        <div class="col-sm-12">
                                                            <div class="ml-0"><button class="btn add_txt">+Add
                                                                    More</button></div>
                                                        </div>

                                                    </div>





                                                    <div class="btm_header"></div>

                                                    <!-- Answer end -->


                                                    <!-- Submit -->

                                                    <div class="btm_header1 row ">

                                                        <div class="col-sm-3 ">


                                                        </div>
                                                        <div class="col-sm-3  ">

                                                        </div>

                                                        <div class="col-sm-3 ">
                                                            <button class="btn px-5 back_btn">Back</button>

                                                        </div>
                                                        <div class="col-sm-3  ">
                                                            <button
                                                                class="btn btn-dark ml-auto px-5 submit ">Save</button>
                                                        </div>
                                                    </div>


                                                    <!-- Submit end-->


                                                </div>


                                            </div>

                                        </div>
                                        <!-- overview tab content -->
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <!-- Colleges -->

                    <div id="colleges" class="container tab-pane "><br>
                        <section class="content">
                            <div class="school_bg">

                                <div class="row">
                                    <div class="col-12">


                                        <!-- overview tab content -->
                                        <div id="overview" class="container tab-pane active"><br>

                                            <div class="container-fluid ">

                                                <div class="row ">
                                                    <div class="card top_header_card">
                                                        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
                                                        <div class="card-body p-5">
                                                            <div class="row">
                                                                <label class="top_header_card_txt">How to Register
                                                                    Colleges ?</label>
                                                                <label class="top_header_txt">
                                                                    Lorem Ipsum is simply dummy text of the printing and
                                                                    typesetting industry. Lorem Ipsum has been the
                                                                    industry's standard dummy text ever since the 1500s,
                                                                    when an unknown printer took a galley of type and
                                                                    scrambled it to make a type specimen book. It has
                                                                    survived not only five centuries, but also the leap
                                                                    into electronic typesetting, remaining essentially
                                                                    unchanged. It was popularised in the 1960s with the
                                                                    release of Letraset sheets containing Lorem Ipsum
                                                                    passages, and more recently with desktop publishing
                                                                    software like Aldus PageMaker including versions of
                                                                    Lorem Ipsum
                                                                </label>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2 delete_icn1">
                                                                    <i class="fa fa-pencil-square-o "
                                                                        aria-hidden="true"></i>

                                                                    <i class="fa fa-trash delete_icn "
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>



                                                    <!-- Question -->
                                                    <div class="question_header row">
                                                        <div class="row">
                                                            <div class="col-12 form-group ">
                                                                <label class="qtxt">Question</label>
                                                            </div>



                                                        </div>

                                                    </div>

                                                    <div class="col-12 form-group ">

                                                        <input type="text" class="form-control txt_input"
                                                            placeholder="Type here..." id="usr">

                                                    </div>




                                                    <!-- Answer -->


                                                    <div class="question_header row">

                                                        <div>
                                                            <div class="row">
                                                                <div class="col-12 form-group ">
                                                                    <label class="qtxt">Answer</label>
                                                                </div>



                                                            </div>

                                                        </div>

                                                        <div class="col-12 form-group txt_input ">

                                                            <textarea type="text" rows="5" class="form-control "
                                                                placeholder="Type here..." id="usr"></textarea>

                                                        </div>


                                                        <div class="col-sm-12">
                                                            <div class="ml-0"><button class="btn add_txt">+Add
                                                                    More</button></div>
                                                        </div>

                                                    </div>





                                                    <div class="btm_header"></div>

                                                    <!-- Answer end -->


                                                    <!-- Submit -->

                                                    <div class="btm_header1 row ">

                                                        <div class="col-sm-3 ">


                                                        </div>
                                                        <div class="col-sm-3  ">

                                                        </div>

                                                        <div class="col-sm-3 ">
                                                            <button class="btn px-5 back_btn">Back</button>

                                                        </div>
                                                        <div class="col-sm-3  ">
                                                            <button
                                                                class="btn btn-dark ml-auto px-5 submit ">Save</button>
                                                        </div>
                                                    </div>


                                                    <!-- Submit end-->


                                                </div>


                                            </div>

                                        </div>
                                        <!-- overview tab content -->
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>



                    <!-- Schools  -->
                    <div id="school" class="container tab-pane "><br>
                        <section class="content">
                            <div class="school_bg">

                                <div class="row">
                                    <div class="col-12">


                                        <!-- overview tab content -->
                                        <div id="overview" class="container tab-pane active"><br>

                                            <div class="container-fluid ">

                                                <div class="row ">
                                                    <div class="card top_header_card">
                                                        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
                                                        <div class="card-body p-5">
                                                            <div class="row">
                                                                <label class="top_header_card_txt">How to Register
                                                                    School ?</label>
                                                                <label class="top_header_txt">
                                                                    Lorem Ipsum is simply dummy text of the printing and
                                                                    typesetting industry. Lorem Ipsum has been the
                                                                    industry's standard dummy text ever since the 1500s,
                                                                    when an unknown printer took a galley of type and
                                                                    scrambled it to make a type specimen book. It has
                                                                    survived not only five centuries, but also the leap
                                                                    into electronic typesetting, remaining essentially
                                                                    unchanged. It was popularised in the 1960s with the
                                                                    release of Letraset sheets containing Lorem Ipsum
                                                                    passages, and more recently with desktop publishing
                                                                    software like Aldus PageMaker including versions of
                                                                    Lorem Ipsum
                                                                </label>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2 delete_icn1">
                                                                    <i class="fa fa-pencil-square-o "
                                                                        aria-hidden="true"></i>

                                                                    <i class="fa fa-trash delete_icn "
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>



                                                    <!-- Question -->
                                                    <div class="question_header row">
                                                        <div class="row">
                                                            <div class="col-12 form-group ">
                                                                <label class="qtxt">Question</label>
                                                            </div>



                                                        </div>

                                                    </div>

                                                    <div class="col-12 form-group ">

                                                        <input type="text" class="form-control txt_input"
                                                            placeholder="Type here..." id="usr">

                                                    </div>




                                                    <!-- Answer -->


                                                    <div class="question_header row">

                                                        <div>
                                                            <div class="row">
                                                                <div class="col-12 form-group ">
                                                                    <label class="qtxt">Answer</label>
                                                                </div>



                                                            </div>

                                                        </div>

                                                        <div class="col-12 form-group txt_input ">

                                                            <textarea type="text" rows="5" class="form-control "
                                                                placeholder="Type here..." id="usr"></textarea>

                                                        </div>


                                                        <div class="col-sm-12">
                                                            <div class="ml-0"><button class="btn add_txt">+Add
                                                                    More</button></div>
                                                        </div>

                                                    </div>





                                                    <div class="btm_header"></div>

                                                    <!-- Answer end -->


                                                    <!-- Submit -->

                                                    <div class="btm_header1 row ">

                                                        <div class="col-sm-3 ">


                                                        </div>
                                                        <div class="col-sm-3  ">

                                                        </div>

                                                        <div class="col-sm-3 ">
                                                            <button class="btn px-5 back_btn">Back</button>

                                                        </div>
                                                        <div class="col-sm-3  ">
                                                            <button
                                                                class="btn btn-dark ml-auto px-5 submit ">Save</button>
                                                        </div>
                                                    </div>


                                                    <!-- Submit end-->


                                                </div>


                                            </div>

                                        </div>
                                        <!-- overview tab content -->
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <!-- Vendors -->

                    <div id="vendors" class="container tab-pane "><br>
                        <section class="content">
                            <div class="school_bg">

                                <div class="row">
                                    <div class="col-12">


                                        <!-- overview tab content -->
                                        <div id="overview" class="container tab-pane active"><br>

                                            <div class="container-fluid ">

                                                <div class="row ">
                                                    <div class="card top_header_card">
                                                        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
                                                        <div class="card-body p-5">
                                                            <div class="row">
                                                                <label class="top_header_card_txt">How to Register
                                                                    Vendors ?</label>
                                                                <label class="top_header_txt">
                                                                    Lorem Ipsum is simply dummy text of the printing and
                                                                    typesetting industry. Lorem Ipsum has been the
                                                                    industry's standard dummy text ever since the 1500s,
                                                                    when an unknown printer took a galley of type and
                                                                    scrambled it to make a type specimen book. It has
                                                                    survived not only five centuries, but also the leap
                                                                    into electronic typesetting, remaining essentially
                                                                    unchanged. It was popularised in the 1960s with the
                                                                    release of Letraset sheets containing Lorem Ipsum
                                                                    passages, and more recently with desktop publishing
                                                                    software like Aldus PageMaker including versions of
                                                                    Lorem Ipsum
                                                                </label>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2">

                                                                </div>
                                                                <div class="col-2 delete_icn1">
                                                                    <i class="fa fa-pencil-square-o "
                                                                        aria-hidden="true"></i>

                                                                    <i class="fa fa-trash delete_icn "
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>



                                                    <!-- Question -->
                                                    <div class="question_header row">
                                                        <div class="row">
                                                            <div class="col-12 form-group ">
                                                                <label class="qtxt">Question</label>
                                                            </div>



                                                        </div>

                                                    </div>

                                                    <div class="col-12 form-group ">

                                                        <input type="text" class="form-control txt_input"
                                                            placeholder="Type here..." id="usr">

                                                    </div>




                                                    <!-- Answer -->


                                                    <div class="question_header row">

                                                        <div>
                                                            <div class="row">
                                                                <div class="col-12 form-group ">
                                                                    <label class="qtxt">Answer</label>
                                                                </div>



                                                            </div>

                                                        </div>

                                                        <div class="col-12 form-group txt_input ">

                                                            <textarea type="text" rows="5" class="form-control "
                                                                placeholder="Type here..." id="usr"></textarea>

                                                        </div>


                                                        <div class="col-sm-12">
                                                            <div class="ml-0"><button class="btn add_txt">+Add
                                                                    More</button></div>
                                                        </div>

                                                    </div>





                                                    <div class="btm_header"></div>

                                                    <!-- Answer end -->


                                                    <!-- Submit -->

                                                    <div class="btm_header1 row ">

                                                        <div class="col-sm-3 ">


                                                        </div>
                                                        <div class="col-sm-3  ">

                                                        </div>

                                                        <div class="col-sm-3 ">
                                                            <button class="btn px-5 back_btn">Back</button>

                                                        </div>
                                                        <div class="col-sm-3  ">
                                                            <button
                                                                class="btn btn-dark ml-auto px-5 submit ">Save</button>
                                                        </div>
                                                    </div>


                                                    <!-- Submit end-->


                                                </div>


                                            </div>

                                        </div>
                                        <!-- overview tab content -->
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>



                </div>

            </section>

        </div>
        <!-- FAQ tab content -->


        <!-- Privacy Policy tab content -->
        <div id="privacy_policy" class="container tab-pane fade "><br>
            <section class="content ">
                <div class="row ">
                    <div class="col-12 ">

                        <!-- overview tab content -->
                        <div id="overview " class="container tab-pane active "><br>

                            <div style="min-height: 80vh; ">
                                <ckeditor [data]="overviewData " [config]="{ height: [ [ '400' ] ] } "></ckeditor>
                            </div>

                            <div class="container-fluid bg-secondary ">
                                <div class="row py-3 px-5 ">
                                    <button class="btn btn-dark ml-auto px-5 "
                                        style="border-radius:30px; ">Submit</button>
                                </div>
                            </div>

                        </div>
                        <!-- overview tab content -->
                    </div>

                </div>
            </section>
        </div>
        <!-- Privacy Policy tab content -->



    </div>






</div>