<div class="container">



    <div class="ratings">
        <label>Ratings and Reviews</label>
    </div>


    <div class="row">

        <label class="star_ratings_txt ">4.5 
                
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>   
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
            
            </label> <label class="star_ratings_txt1 ">its a good application </label>

    </div>

    <div class="row">

        <label class="star_ratings_txt2">by Tag, 07th Jan  2019  | BE in Computer Science Engineering Bangalore - 5000008</label>

    </div>



    <div class="review_user row">



        <div class="review_user form-group">

            <input style="box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);height: 150px; width: 100%;" placeholder="Review from user" type="text" class="form-control" id="usr" name="username">
        </div>


    </div>


    <hr>


    <!-- second_row -->




    <div class="row">

        <label class="star_ratings_txt3 ">4.5 
                
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>   
               &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
            
            </label> <label class="star_ratings_txt4 ">its a good application </label>

    </div>

    <div class="row">

        <label class="star_ratings_txt2">by Tag, 07th Jan  2019  | BE in Computer Science Engineering Bangalore - 5000008</label>

    </div>



    <div class="review_user row">



        <div class="review_user form-group">

            <input style="box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);height: 150px; width: 100%;" placeholder="Review from user" type="text" class="form-control" id="usr" name="username">
        </div>


    </div>


    <hr>




    <!-- thirdrow -->








    <div class="row">

        <label class="star_ratings_txt3 ">4.5 
            
           &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
           &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>
           &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
           &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i>   
           &nbsp;&nbsp;&nbsp; <i  class="fa fa-star star_ratings" aria-hidden="true"></i> 
        
        </label> <label class="star_ratings_txt4 ">its a good application </label>

    </div>

    <div class="row">

        <label class="star_ratings_txt2">by Tag, 07th Jan  2019  | BE in Computer Science Engineering Bangalore - 5000008</label>

    </div>



    <div class="review_user row">



        <div class="review_user form-group">

            <input style="box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);height: 150px; width: 100%;" placeholder="Review from user" type="text" class="form-control" id="usr" name="username">
        </div>


    </div>


    <hr>




</div>