<div class="container-fluid">
    <div class="container">
        <div class="row py-5">

            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a >Courses</a></li>
                    <li class="breadcrumb-item active">Add Fee</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="ml">
                    <ul class="list-inline">
                        <li class="list-inline-item"><button class="btn btn-dark btn_border_radius">UPLOAD EXCEL
                                FILE</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="card p-5">
            <!-- <h5 class="pb-2">Image Upload</h5>

            <div class="row">
                <div class="col-sm-2">
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:16vh;padding-top:7vh">
                            <label _ngcontent-ovp-c17="" for="files"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Upload</label>
                            <input type="file" class="form-control" id="files" hidden>
                        </div>
                    </div>
                </div>
            </div> -->



            <div class="row bg">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="college_name">College Name</label>
                        <input type="text" placeholder="Note:Auto search" id="college_name" class="form-control">
                    </div>
                </div>
                <!-- <div class="col-sm-6 py-2">
                    <div class="form-group-lg">
                        <label for="location">Location</label>
                        <input type="text" placeholder="Note:Auto search" id="location" class="form-control">
                    </div>
                </div> -->

            </div>



            <div class="row bg">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="course_name">Course Name</label>
                        <input type="text" placeholder="Note:Auto search" id="course_name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <input type="text" placeholder="Note:Auto search" id="specialization" class="form-control">
                    </div>
                    <button class="btn">+Add Specialization</button>
                </div>

            </div>



            <!-- <div class="row bg">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="course_type">Course Type</label>
                        <select id="course_type" class="form-control">
                            <option>course type</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="course_duration">Course Duration</label>
                        <select id="course_duration" class="form-control">
                            <option>Duration</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row bg">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="admision_status">Admission Status</label>
                        <select id="admision_status" class="form-control">
                            <option>Select Admission Status</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <select id="nationality" class="form-control">
                            <option>Nationality</option>
                        </select>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="mode_of_Study">Mode of Study</label>
                        <select id="mode_of_Study" class="form-control" multiple>
                            <option>Full Time</option>
                            <option>Distance/Correspondance</option>
                            <option>Part Time-Classroom</option>
                            <option>Online</option>
                            <option>On the Job</option>
                            <option>Vitual classroom</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="installements">Installement</label>
                        <select id="installements" class="form-control">
                            <option>1 </option>
                            <option>2 </option>
                            <option>3 </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row bg">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="academic_year">Academic Year(Join Academic year)</label>
                        <select id="academic_year" class="form-control">
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="academic_year">Admission Year</label>
                        <select id="academic_year" class="form-control">
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="from_date">From Date</label>
                        <input type="date" placeholder="12.00AM" id="from_date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="form-group">
                        <label for="to_date">To Date</label>
                        <input type="date" placeholder="12.00AM" id="to_date" class="form-control">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <label>Admission Through</label>
                </div>
                <div class="col-sm-6">
                    <label>Course Fee</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="counselling" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Course Fee">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Management Quota" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Course Fee">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="NRI Quota" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Course Fee">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="SAARC Countries" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Course Fee">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="International Students" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="Course Fee">
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn">+Add Section</button></div>
        </div>
    </div>

        <div class="bg-secondary mt-5">
            <div class="row py-3">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 ">
                    <div class="btn_right">
                        <button class="btn btn-dark px-5 btn_border_radius" >Back</button>&nbsp;
                        <button class="btn btn-dark px-5 btn_border_radius" >Next</button>
                    </div>
                </div>
            </div>
        </div>


    </div>