<div class="container">

    <div class="row py-5">
        <div class="col-sm-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Career After 12th</a></li>
            </ol>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="career_after">Career After</label>
                        <select class="form-control" id="career_after">
                            <option>select</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="career_after">Career Course</label>
                        <select class="form-control" id="career_after">
                            <option>select</option>
                        </select>
                    </div>
                </div>
            </div>


            <p>Upload SnapShot image/icon</p>

            <div class="row">
                <div class="col-sm-2">
                    <div class="card" style="text-align: center;">
                        <div class="form-group" style="height:12vh;padding-top:5vh">
                            <label _ngcontent-ovp-c17="" for="files"
                                style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                Upload</label>
                            <input type="file" class="form-control" id="files" hidden>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-default">+ Add More</button>
            </div>
            <div class="row">
                <button class="btn btn-dark px-5 btn_border_radius ml-auto">Submit</button>
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            Course Name
                        </div>
                        <div class="col-sm-6">
                            <div style="float: right;">
                                <i class="fa fa-pencil"></i>&nbsp;
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="py-5 pl-5">Description of the course</p>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default">+ Add More</button>
            </div>


        </div>
    </div>
</div>