<!-- Content Header (Page header) -->

<div class="container">
    <div class="row py-5">
        <div class="col-sm-6">
            <h3>Assign Privilage </h3>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Assign Privilage</li>
            </ol>
        </div>
    </div>


    <!-- ----TopHeader Start--- -->

    <div class="row txt_inpt">
        <div class="col-sm-6 txt_inpt ">
            <label for="usr"></label>
            <div class="dropdown ">
                <button type="button" class="btn dropdown-toggle  btn_bg" data-toggle="dropdown">
             Role
                </button>
                <div class="dropdown-menu droupdown_bg ">
                    <a class="dropdown-item ">Manager</a>
                    <a class="dropdown-item ">Employee</a>
                    <!-- <a class="dropdown-item ">Student</a>
                    <a class="dropdown-item ">School</a>
                    <a class="dropdown-item ">College</a> -->
                </div>
            </div>
        </div>

        <div class="col-sm-6 ">

        </div>


    </div>

    <!-- ----TopHeader End--- -->




    <!-- Select_All start -->
    <div class="select_all row">


        <div class="form-check">
            <label class="form-check-label select_all_txt" for="check1">
      <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Select All
    </label>
        </div>
    </div>

    <!-- Select_All End -->


    <!-- Save start -->


    <div class="row pb-5 tab_header">
        <div class="col-12">
            <div class="card">

                <div class="card-body ">
                    <!-- Select_Multiple start -->
                    <div class="cad_header row">


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Dashboard
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                    <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Recruiters
                                    </label>
                            </div>
                        </div>




                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                            <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Partner With Us
                                            </label>
                            </div>
                        </div>



                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                                        <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Facilaties
                                                        </label>
                            </div>
                        </div>
                    </div>

                    <!-- second_row -->
                    <div class="cad_header row">


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Dashboard
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                    <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Recruiters
                                    </label>
                            </div>
                        </div>




                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                            <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Partner With Us
                                            </label>
                            </div>
                        </div>



                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                                        <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Facilaties
                                                        </label>
                            </div>
                        </div>
                    </div>

                    <!-- third_row -->

                    <div class="cad_header row">


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Dashboard
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                    <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Recruiters
                                    </label>
                            </div>
                        </div>




                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                            <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Partner With Us
                                            </label>
                            </div>
                        </div>



                        <div class="col-sm-3  ">
                            <div class="form-check">
                                <label class="form-check-label " for="check1">
                                                        <input type="checkbox" class="form-check-input " id="check1" name="option1" value="something" checked>Facilaties
                                                        </label>
                            </div>
                        </div>
                    </div>


                    <!-- Select_Multiple end -->

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>





    <div class="row">
        <div class="save_btn">
            <button class="btn btn-dark btn_border_radius">Save</button>
        </div>
    </div>

    <!-- Save start -->


    <div class="row pb-5 tab_header">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of tabledata">
                                <td>{{data.user_name}}</td>

                                <td>
                                    <div class="text-center">
                                        <i class="fa fa-pencil"></i> &nbsp;&nbsp;
                                        <i class="fa fa-trash "></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


</div>