<div class="container">

    <div class="row py-5">
        <div class="col-sm-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h3>Specialization </h3>
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <div class="ml">
                <ul class="list-inline">
                    <li class="list-inline-item"><button class="btn btn-dark btn_border_radius">UPLOAD EXCEL
                            FILE</button>
                    </li>
                    <li class="list-inline-item" [routerLink]="['/specialization-single-add']">
                        <button class="btn btn-dark btn_border_radius">Add
                        Specialization</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h5>Specialization</h5>
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <div class="card-title">
                <div class="mr-0 entries">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text entry">show</span>
                        </div>
                        <select class="form-control">
                        <option>1-7</option>
                    </select>
                        <div class="input-group-append">
                            <span class="input-group-text entry">entries</span>
                        </div>
                    </div>
                </div>
                <div class="ml-0 search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <span class="input-group-text"> <i class="fa fa-search"
                                aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor = "let data of specialization">
                <div style="float: left;">{{data.specialization_name}}</div>
                <div style="float: right;">
                    <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                    <i class="fa fa-pencil pl-5 pr-3"></i>
                    <i class="fa fa-trash "></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid ">
    <div class="row py-3 px-5 ">
        <ul class="pagination mx-auto">
            <li class="page-item"><a class="page-link">Previous</a></li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">Next</a></li>
        </ul>
    </div>
</div>