<div class="container">



    <div class="col-sm-6">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h5>Open Board</h5>
            </li>
        </ol>
    </div>

    <div class="card">
        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
        <div class="card-body p-5">

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="education">Heading</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="heading" placeholder="heading">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="education">Description</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="education">Name</label>
                        <input type="text" class="form-control" id="heading" placeholder="Name"> </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="education">Link</label>
                        <input type="text" class="form-control" id="heading" placeholder="Link">
                    </div>
                </div>
                <div class="col-sm-2">
                    <i class="fa fa-plus edit-icon-size" aria-hidden="true"></i>
                    <!-- <div class="form-group">
                        <i class="fa fa-trash edit-icon-size" aria-hidden="true"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2"> </div>

                <div class="col-sm-2">
                    <div class="mx-auto pt-4">
                        <button class="btn btn-dark px-5 btn_border_radius">Save</button>
                    </div>
                </div>

                <div class="col-sm-2">

                    <div class="mx-auto pt-4">
                        <button class="btn btn-dark px-5 btn_border_radius">Edit</button>
                    </div>

                </div>

                <div class="col-sm-2">
                    <div class="mx-auto pt-4">
                        <button class="btn btn-dark px-5 btn_border_radius">Reset</button>
                    </div>
                </div>

                <div class="col-sm-2"> </div>
            </div>
        </div>
    </div>


</div>