<div class="container">
    <div class="message py-5">
        <h3>Messages</h3>
<div class="row">
    <div class="col-sm-12">
<!--    
    <div class="mr-0 entries">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text entry">show</span>
            </div>
            <select  class="form-control">
                <option>1-7</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text entry">messages</span>
            </div>
        </div>
    </div> -->
    <div class="ml-0 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <span class="input-group-text"> <i class="fa fa-search"
                        aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>
</div>
        <div class="card mt-5" *ngFor="let data of messagedata">
            <div class="card-header bg-dark text-white">
                <div class="row py-2 px-5">
                    <div class="col-sm-4">
                        <p style="text-align: left;">{{data.sr_no}}</p>
                    </div>
                    <div class="pstyle" class="col-sm-4">
                        <p style="text-align: center;">{{data.college_name}}</p>
                    </div>
                    <div class="pstyle" class="col-sm-4">
                        <p style="text-align: right;">{{data.date}}</p>
                    </div>
                </div>
            </div>
            <div clas="card-body">
                <div class="row py-2 px-5">
                    <div class="col-sm-2">
                        Message:
                    </div>
                    <div class="col-sm-9">
                        {{data.message}}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-trash" style="text-align: center;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>