<div class="container">



    <div class="col-sm-6">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h5>All India Board</h5>
            </li>
        </ol>
    </div>

    <div class="card">
        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
        <div class="card-body p-5">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="education">Heading</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="heading" placeholder="heading">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="education">Type</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control" placeholder="Type Here" id="education">
                            <option>CBSE</option>
                            <option>ICSE</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="education">Description</label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="mx-auto pt-4">
                    <button class="btn btn-dark px-5 btn_border_radius">Save</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-5">
        <!-- <div class="card-header bg-dark text-white">New Location</div> -->
        <div class="card-body p-5">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SI.NO</th>
                        <th>Heading</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CBSE</td>
                        <td>
                            <div >
                                <i class="fa fa-pencil edit-icon-size" aria-hidden="true"></i>
                                <i class="fa fa-trash edit-icon-size" aria-hidden="true"></i>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ICSE</td>
                        <td>
                            <div >
                                <i class="fa fa-pencil edit-icon-size" aria-hidden="true"></i>
                                <i class="fa fa-trash edit-icon-size" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>CBSE</td>
                        <td>
                            <div >
                                <i class="fa fa-pencil edit-icon-size" aria-hidden="true"></i>
                                <i class="fa fa-trash edit-icon-size" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>







        </div>
    </div>
</div>