.ml{
    float: right;
}
.btn_border_radius{
    border-radius: 30px;
}
textarea{
    height: 14vh;
}
.btn_right{
    float: right;
}
.bg{
    background-color: grey;
}
.nav-item{
    font-size: 15px;
}