<div class="container">



    <div class="top_header">
        <label>Home page </label>
    </div>




    <!-- tabheade -->

    <div class="tab_header">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link active tab_fnt" data-toggle="tab" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#features">Features</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link tab_fnt" data-toggle="tab" href="#guidelines">Guidelines</a>
            </li>


        </ul>
    </div>



    <!-- tabview -->


    <div class="tab-content">

        <!-- benefits start -->
        <div id="benefits" class="container tab-pane active"><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">

                        <!-- overview tab content -->
                        <div id="overview" class="container tab-pane active"><br>

                            <div style="min-height: 80vh;">
                                <ckeditor [data]="overviewData" [config]="{ height: [ [ '400' ] ] }"></ckeditor>
                            </div>

                        </div>


                        <div class=" bg-secondary">
                            <div class="row py-3">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4 ">
                                    <div class="btn_right">
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Edit</button>&nbsp;
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- overview tab content -->
                    </div>

                </div>
            </section>
        </div>
        <!-- benefits end -->

        <!-- features start-->
        <div id="features" class="container tab-pane "><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">

                        <!-- overview tab content -->
                        <div id="overview" class="container tab-pane active"><br>

                            <div style="min-height: 80vh;">
                                <ckeditor [data]="overviewData" [config]="{ height: [ [ '400' ] ] }"></ckeditor>
                            </div>

                        </div>


                        <div class=" bg-secondary">
                            <div class="row py-3">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4 ">
                                    <div class="btn_right">
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Edit</button>&nbsp;
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- overview tab content -->
                    </div>

                </div>
            </section>
        </div>
        <!-- features end-->



        <!-- guidelines start-->
        <div id="guidelines" class="container tab-pane "><br>
            <section class="content">
                <div class="row">
                    <div class="col-12">

                        <!-- overview tab content -->
                        <div id="overview" class="container tab-pane active"><br>

                            <div style="min-height: 80vh;">
                                <ckeditor [data]="overviewData" [config]="{ height: [ [ '400' ] ] }"></ckeditor>
                            </div>

                        </div>


                        <div class=" bg-secondary">
                            <div class="row py-3">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4 ">
                                    <div class="btn_right">
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Edit</button>&nbsp;
                                        <button class="btn btn-dark px-5" style="border-radius:30px;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- overview tab content -->
                    </div>
                </div>
            </section>
        </div>
        <!-- guidelines end-->


    </div>






</div>