<div class="container">

    <div class="row py-5">
        <div class="col-sm-6">
            <ul class="list-inline">
                <li>

                    <h3>Upload Images </h3>
                </li>
            </ul>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-2">
            <div class="card" style="text-align: center;">
                <div class="form-group" style="height:16vh;padding-top:7vh">
                    <label _ngcontent-ovp-c17="" for="files" style="width:fit-content;background-color:transparent;letter-spacing:1px">
                        Upload Image</label>
                    <input type="file" class="form-control" id="files" hidden>
                </div>
            </div>
        </div>
    </div>






    <!-- --card 1--- -->

    <div class="card_view card_top ">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-sm-11">


                        <label _ngcontent-ovp-c17="" class="news_article_txt" for="files" style="width:fit-content;background-color:transparent;letter-spacing:1px">
                            news and article</label>
                    </div>


                    <div class="col-sm-1">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>

                </div>






            </div>
        </div>
    </div>
    <!-- --card end1--- -->




    <!-- --card 2--- -->

    <div class="card_view card_top ">
        <div class="card ">
            <div class="card-header bg-white">
                <div class="row">
                    <div class="col-sm-11">

                        <label _ngcontent-ovp-c17="" class="news_article_txt" for="files" style="width:fit-content;background-color:transparent;letter-spacing:1px">
                            Description of article and news</label>
                    </div>



                    <div class="col-sm-1">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>

                </div>

            </div>
            <div class="card-body card_view_height ">


            </div>
        </div>
        <!-- --card end2--- -->



    </div>


    <div class="add_txt ">
        <button class="btn btn-default ">+ Add Section</button>
    </div>



    <div class="row py-3 px-5">
        <button class="btn btn-dark ml-auto px-5" >Upload</button>
    </div>
</div>