<div class="container">

    <div class="row py-5">
        <div class="col-sm-6">
            <ul class="list-inline">
                <li>

                    <h3>Add Facilaties</h3>
                </li>
            </ul>
        </div>

    </div>



    <div class="card_view">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-sm-2">
                        <div class="card" style="text-align: center;">
                            <div class="form-group" style="height:16vh;padding-top:7vh">
                                <label _ngcontent-ovp-c17="" for="files" style="width:fit-content;background-color:transparent;letter-spacing:1px">
                                    Upload</label>
                                <input type="file" class="form-control" id="files" hidden>
                            </div>
                        </div>
                    </div>
                </div>


                &nbsp;<label class="facilaties_txt">Upload Facilaties Icon</label>

                <div class="form-group  txt_input">

                    <input type="text" placeholder="Facilaties Name" class="form-control" id="usr">
                </div>



                <div class="row">

                    <div class="col-sm-4"></div>
                    <div class="">
                        <button class="submit_button submit_txt">Save</button>

                    </div>
                    <div class="col-sm-4"></div>
                </div>




            </div>
        </div>
    </div>



</div>