<div class="container">

    <div class="row py-5">
        <div class="col-sm-6">
            <h3>Courses</h3>
        </div>
        <div class="col-sm-6">
            <div class="ml">
                <ul class="list-inline">
                    <li class="list-inline-item"><button class="btn btn-dark btn_border_radius">UPLOAD EXCEL
                            FILE</button>
                    </li>
                    <li class="list-inline-item"><button class="btn btn-dark btn_border_radius"
                            [routerLink]="['/courses_add_fee']">ADD FEE</button>
                    </li>
                    <!-- <li class="list-inline-item" [routerLink]="['/courses_add']"><button
                            class="btn btn-dark btn_border_radius">ADD COURSE</button>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>



    <div class="mb-5">
    <div class="row my-2">

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row my-2">

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row my-2">

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtdpTPYs5Occ6yI04YTUgrBh9EmJTl0hxfIbsiQ7ThXrbki1S_A&s"
                    alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="float: left;">College Name</h4>
                    <h4 class="card-title" style="float: right;">College Name</h4>
                    <p class="card-text">Location</p>
                    <h5>Course Name with Specialization</h5>
                    <div class="row pl-3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="d-inline-flex">
                        <div class="p-2"> <span class="fa fa-user pr-1"></span>356764 students</div>
                        <div class="p-2 "><i class="fa fa-clock pr-1"></i>Full Time</div>
                        <div class="p-2 "> <i class="fa fa-calendar-alt pr-1"></i>3 Years</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>